html {
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

html, body {
    height: 100%;
}

.background {
    background: url('../Img/portiofio.jpeg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.Scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 40rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: gray;
        opacity: 0.8;
    }

.nav-link {
    color: rgba(255,255,255,0.9) !important;
}

    .nav-link:hover {
        color: black !important;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@keyframes SmallToBIG {
    0% {
        opacity: 0;
        transform: translateZ(0) scale(0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0) scale(1);
    }
}

@keyframes SlideBottem {
    0% {
        opacity: 0;
        transform: translateY(12.5%)
    }

    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}


.hero{
    animation: 1.5s ease-out 0s 1 SmallToBIG;
}

.LoadFromBottom {
    animation: 1s ease-out 0s 1 SlideBottem;
}

/* mockup code */

.DonwloadButton a {
    background: #ffffff;
    border: solid 1px #e6e6e6;
    border-radius: 2px;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    margin: 5px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

    .DonwloadButton a span {
        background: #f2594b;
        border-radius: 4px;
        color: #ffffff;
        display: inline-block;
        font-size: 11px;
        font-weight: 700;
        line-height: normal;
        padding: 5px 10px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
    }

        .DonwloadButton a span:last-child {
            margin-left: -20px;
        }

    .DonwloadButton a:before,
    .DonwloadButton a:after {
        background: #ffffff;
        border: solid 3px #9fb4cc;
        border-radius: 4px;
        content: '';
        display: block;
        height: 35px;
        left: 50%;
        margin: -17px 0 0 -12px;
        position: absolute;
        top: 50%;
        /*transform:translate(-50%,-50%);*/

        width: 25px;
    }

    .DonwloadButton a:hover:before,
    .DonwloadButton a:hover:after {
        background: #e2e8f0;
    }
    /*a:before{transform:translate(-30%,-60%);}*/

    .DonwloadButton a:before {
        margin: -23px 0 0 -5px;
    }

    .DonwloadButton a:hover {
        background: #e2e8f0;
        border-color: #9fb4cc;
    }

    .DonwloadButton a:active {
        background: #dae0e8;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25);
    }

    .DonwloadButton a span:first-child {
        display: none;
    }

    .DonwloadButton a:hover span:first-child {
        display: inline-block;
    }
    .DonwloadButton a:hover span:last-child {
        display: none;
    }
