@{
    ViewData["Title"] = "Home Page";
}
<section class="background">
    <div class="text-white text-center w-100 hero">
        <h1>I am Abdi Ali</h1>
        <p>And I'm a software engineer</p>
        <a asp-controller="About" asp-action="About" class="btn btn-dark btn-lg">About Me</a>
    </div>

    <footer class="fixed-bottom">
        <div class="container">
            <p>&copy; 2022 Abdi Ali. All rights reserved</p>
        </div>
    </footer>
</section>