@{
    ViewData["Title"] = "All projects";
}
<br />
<br />
<br />
<br />
<div class="container h-100 LoadFromBottom">
        <div class="text-center">
            <h2>Crypto</h2>
        </div>
        <div class="row h-100 py-2">
            <div class="col-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Crypto list</h3>
                        <p class="card-text">a list with all current crypto coins</p>
                        <a class="btn btn-primary" asp-controller="Crypto" asp-action="CryptoList">See the Crypto List</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Crypto calculator</h3>
                        <p class="card-text">enter your amount of your crypto coins and see how much it is worth</p>
                        <a class="btn btn-primary" asp-controller="Crypto" asp-action="CoinValue">See the how much your crypto is worth</a>
                    </div>
                </div>
            </div>
        </div>


    <div class="text-center">
        <h2>asp.net mvc and mysqli</h2>
    </div>

    <div class="container h-100">
       <div class="text-center text-white">
        
       </div>
       <div class="row h-100 py-2">
          <div class="col-6">
             <div class="card h-100">
                <div class="card-body">
                   <h3 class="card-title">My own website</h3>
                        <p class="card-text">this website is developed with asp.net mvc </p>
                        <a class="btn btn-primary" href="https://github.com/abdi-ali1/Portfolio">Go to the github link to see the how it is developed</a>
                </div>
             </div>
          </div>
 


          <div class="col-6">
             <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Notes web app</h3>
                    <p class="card-text">a web app where you can log in and create your own notes </p>
                   <button disabled class="btn btn-primary" asp-controller="Crypto" asp-action="CoinValue">Inprogress</button>
                </div>
             </div>
          </div>
       </div>
    </div>

    <div class="text-center">
        <h2>c# oop console.app miniGames</h2>
    </div>

    <div class="container h-100">
        <div class="text-center text-white">
        </div>
        <div class="row h-100 py-2">
            <div class="col-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">MiniGames</h3>
                        <p class="card-text">here on this github link you can see how I developed three little mini games</p>
                        <a class="btn btn-primary" href="https://github.com/abdi-ali1/Oefen-Opdrachten">Go to the github link to see the how it is developed</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>